@model string

<button class="btn btn-white dropdown-toggle" type="button" id="usuarioNombre" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: black; color: white;">
    @Model
</button>
<ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="usuarioNombre">
    <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="CerrarSesion">Cerrar Sesión</a></li>
</ul>